<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/banca.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" href="../src/icon.png">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>BAN CA</title>
</head>
<body>
    <div class="container container-max-width">

        <div class="content container-max-width">

            <a class="link" href="../index.html">HOME</a>

            <div class="card">

                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban1.png" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban2.jpg" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban3.jpg" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban4.jpg" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban5.jpg" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban6.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban7.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban8.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban9.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban10.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban11.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban12.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban13.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban14.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban15.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban16.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban17.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban18.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban19.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban20.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban21.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban22.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban23.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                <article class="box">
                    <div class="box-content">
                        <div class="center-img">
                            <div class="image">
                                <img src="../src/ban24.webp" alt="">
                            </div>
                        </div>
                        <div class="desc">
                           <a href="#"> CHIA SẺ CÔNG THỨC CHƠI BẦU CUA HAY NHẤT VỚI TỶ LỆ THẮNG CAO</a>
                        </div>
                    </div>
                    <div class="x ">
                        <span>30/01/2024</span>
                    </div>
                </article>
                
            </div>   

        </div>

    </div>
</body>
</html>